.home
  width: 50%
  margin: auto
  height: auto
  text-align: center
  position: fixed
  top: 50%
  left: 50%
  /* bring your own prefixes */
  transform: translate(-50%, -50%)
  a
    margin: 10px
    width: 20%
